.collapsible{
    margin: 0 10px;
    margin-bottom: 10px;
    width: 96%;
    box-sizing: border-box;

    @media (max-width: 1400px) {
        &{
            width: 94%;
        }
    }

    @media (max-width: 1000px) {
        &{
            width: 100%;
        }
    }

    .collapsible-body{
        padding: 0 !important;
    }

}