/*Diseño del tamaño de los tabs*/

.mainContent {
    height: auto;
}

.mainTabs {
    max-height: 550vh;
    min-height: calc(100vh - 112px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px;
}

//Tabs para cuando el contenido de la unidad
.mainTabsContent{
    position: relative;
    top: -41px;
    right: 40px;
    height: 48px;

    transition: all .3s ease;

    
    ul{
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        
        li{
            font-weight: 700;
        }
    }
}
